:host {
  width: 500px;

  .body {
    .badge-wrapper {
      align-items: flex-start;
      display: flex;
      height: 20px;
      position: relative;

      img {
        object-fit: contain;
        object-position: left;
      }
    }

    h1 {
      font-size: 1rem;
    }

    a {
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    .example {
      background-color: var(--ui-secondary-color);
      border-radius: var(--default-border-radius);
      color: var(--text-color);
      display: block;
      font-size: .8rem;
      overflow: scroll;
      padding: 1rem;
      white-space: nowrap;
    }
  }
}