@if (repository(); as repository) {
  <div class="overview" (click)="onClick()">
    <div class="details">
      <h1 [innerHTML]="repository.name"></h1>
      <p [innerHTML]="repository.description"></p>
    </div>

    <div class="stats">
      <div>
        <span class="material-symbols-outlined">event</span>
        <h1 [innerHTML]="repository.lastUpdated | date: 'mediumDate'"></h1>
      </div>
      <div>
        <span class="material-symbols-outlined">star</span>
        <h1 [innerHTML]="repository.stars"></h1>
      </div>
    </div>
  </div>

  <div class="score" title="Click to recheck score" (click)="onReloadScorecard.emit()">
    @if (scorecard(); as scorecard) {
      @if (scorecard.score; as score) {
        <osf-score-ring [score]="score"></osf-score-ring>
      } @else {
        <span class="material-symbols-outlined" title="No scorecard available">block</span>
      }
    } @else {
      <osf-loading></osf-loading>
    }
  </div>
}
