:host {
  --ossfd-popup-container-bg-color: rgba(0, 0, 0, .8);
  --ossfd-popup-container-close-bg-color-hover: rgba(0, 0, 0, .1);
  --ossfd-popup-container-close-color: var(--color-white);
  --ossfd-popup-container-close-font-size: 70px;
  --ossfd-popup-container-close-offset-top: calc(var(--nav-bar-height) - 20px);
  --ossfd-popup-container-padding: 1rem;
  --ossfd-popup-popup-border-radius-large: 30px;
  --ossfd-popup-popup-border-radius-small: 16px;
  --ossfd-popup-popup-min-height: 100px;

  .popup-container {
    align-items: center;
    background-color: var(--ossfd-popup-container-bg-color);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 999999999999999999999999;

    @media screen and (min-width: 800px) {
      height: 100%;
      padding: var(--ossfd-popup-container-padding);
      width: 100%;
    }

    .close {
      cursor: pointer;
      display: none;
      width: 100%;

      &:hover {
        background-color: var(--ossfd-popup-container-close-bg-color-hover);
      }

      @media screen and (max-width: 800px) {
        align-items: center;
        display: flex;
        height: var(--ossfd-popup-container-close-offset-top);
        justify-content: center;
      }

      span {
        color: var(--ossfd-popup-container-close-color);
        font-size: var(--ossfd-popup-container-close-font-size);
      }
    }

    .popup {
      border-radius: var(--ossfd-popup-popup-border-radius-small);
      min-width: var(--ossfd-popup-popup-min-height);
      overflow: auto;
      width: auto;

      @media screen and (max-width: 800px) {
        border-radius: var(--ossfd-popup-popup-border-radius-large) var(--ossfd-popup-popup-border-radius-large) 0 0;
        display: flex;
        flex: 1;
        width: 100vw;
      }
    }
  }
}