.repositories {
  --osd-repository-list-view-container-bg-color: var(--ui-secondary-color);
  --osd-repository-list-view-header-bg-color: var(--ui-tertiary-color);
  --osd-repository-list-view-spacing: 1rem;

  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;

  .header {
    display: flex;
    background-color: var(--osd-repository-list-view-header-bg-color);
    padding: var(--osd-repository-list-view-spacing);
    gap: calc(var(--osd-repository-list-view-spacing) / 2);

    > div {
      display: flex;
      gap: .4rem;

      &:nth-child(1) {
        flex: 1;

        osd-input {
          width: 100%;
        }
      }
    }
  }

  .container {
    background-color: var(--osd-repository-list-view-container-bg-color);

    flex: 1;
    container: repo-container / inline-size;
    padding: var(--osd-repository-list-view-spacing);
    overflow: scroll;

    .list {
      display: flex;
      gap: var(--osd-repository-list-view-spacing);
      flex-direction: column;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: var(--osd-repository-list-view-spacing);

      @container repo-container (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
      }

      @container repo-container (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      osf-repository-widget {
        display: flex;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }

    .view-more {
      margin-top: var(--osd-repository-list-view-spacing);
    }
  }
}