<div class="info">
  <h1>New Account</h1>
  <p>To track the OpenSSF scores of an entire organization or user account, please fill in the forms provided.</p>
  <p>We currently support GitHub with GitLab coming along shortly.</p>
  <p>Optionally, you can provide an API key if you are being rate limited by too many requests.</p>
</div>

<div class="container">
  <div class="tabs">
    <div class="selected">
      <img class="github-icon" ngSrc="./assets/images/icons/github.png" alt="GitHub" height="209" width="800" />
    </div>
    <div class="gitlab" (click)="onGitlabClicked()">
      <img class="gitlab-icon" ngSrc="./assets/images/icons/gitlab.svg" alt="GitLab" height="16" width="16" />
    </div>
  </div>

  <div class="content">
    @if (service() == Service.GITHUB) {
      <div>
        <label>GitHub Account</label>
        <osd-input
            [(value)]="accountName"
            [focus]="true"
            icon="account"
            placeholder="scottstraughan, jetbrains, intel etc"></osd-input>
      </div>
      <div>
        <label>API Token <small>(optional)</small></label>
        <div class="details">Adding an API token can allow you to get around rate limiting if you use this tool
          heavily. API keys are stored in your browser's localstorage and <b>ONLY</b> transferred to the URL you
          provided above.</div>
        <osd-input
            icon="locked"
            placeholder="A-2XJSJ123JSJS188DNDJK19SK"></osd-input>
      </div>
    }
  </div>

  <div class="actions">
    <div>
      <osd-link-button
          (click)="onCloseClicked()"
          icon="close"
          label="Cancel"></osd-link-button>
    </div>
    <div>
      @if (loading()) {
        <osd-loading></osd-loading>
      } @else {
        <osd-link-button
            icon="add"
            label="Add Account"
            [disabled]="!isServiceFormsValid() || loading()"
            (click)="onAdd()"></osd-link-button>
      }
    </div>
  </div>
</div>