:host {
  --osd-input-border: var(--default-border);
  --osd-input-shadow-unfocused: var(--osd-component-shadow-unfocused);
  --osd-input-shadow-focused: var(--osd-component-shadow-focused);
  --osd-input-transition: var(--default-transition);
  --osd-input-bg-color-focused: var(--osd-component-bg-color-focused);

  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 6px;
  opacity: .7;
  border: var(--osd-input-border);
  box-shadow: var(--osd-input-shadow-unfocused);
  transition: var(--osd-input-transition);
  background-color: var(--osd-input-bg-color-focused);

  &:hover {
    opacity: 1;
    background-color: var(--osd-input-bg-color-focused);
    box-shadow: var(--osd-input-shadow-focused);
  }
  > * {
    padding: 1rem;

  }

  input {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    padding: 1rem .5rem;
  }

  .icon {
    display: flex;
    align-items: center;
    border-right: var(--osd-input-border);
    background-color: var(--osd-input-bg-color-focused);
    cursor: default;
    height: 100%;
    user-select: none;
  }
}