<div class="header">
  <span class="material-symbols-outlined">account_box</span>
  <h1>About</h1>
</div>

<div class="body">
  <p>This tool was created by
    <a href="https://github.com/scottstraughan" target="_blank" rel="noopener">scottstraughan</a>, a software
    engineer currently working at <a href="https://codeplay.com" target="_blank" rel="noopener">Codeplay
      Software Ltd</a>.</p>
  <p>The tool makes use of the excellent service provided by the OpenSSF foundation as well as a number of APIs
  to repository services such as GitHub and GitLab.</p>
</div>

<div class="actions">
  <osd-button label="Close" icon="close" (clicked)="onClose()"></osd-button>
</div>
