:host {
  display: block;
  user-select: none;

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100%;
    padding: 1rem;
    border-radius: 6px;
    opacity: .7;
    cursor: pointer;
    border: var(--default-border);
    box-shadow: var(--osd-component-shadow-unfocused);
    transition: var(--default-transition);
    background-color: var(--osd-component-bg-color-unfocused);

    &.active,
    &:not(.disabled):hover {
      opacity: 1;
      background-color: var(--osd-component-bg-color-focused);
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .1);
    }

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .5;
      background-color: red;
    }

    .icon {
      display: flex;
      align-items: center;
    }
  }
}