.repositories {
  --ossfd-repository-list-view-container-bg-color: var(--ui-secondary-color);
  --ossfd-repository-list-view-header-bg-color: var(--ui-tertiary-color);
  --ossfd-repository-list-view-spacing: 1rem;

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;

  .header {
    background-color: var(--ossfd-repository-list-view-header-bg-color);
    display: flex;
    gap: calc(var(--ossfd-repository-list-view-spacing) / 2);
    padding: var(--ossfd-repository-list-view-spacing);

    > div {
      display: flex;
      gap: .4rem;

      &:nth-child(1) {
        flex: 1;

        ossfd-input {
          width: 100%;
        }
      }
    }
  }

  .container {
    background-color: var(--ossfd-repository-list-view-container-bg-color);
    container: repo-container / inline-size;
    flex: 1;
    overflow: scroll;
    padding: var(--ossfd-repository-list-view-spacing);

    .list {
      display: flex;
      flex-direction: column;
      gap: var(--ossfd-repository-list-view-spacing);
    }

    .grid {
      display: grid;
      grid-gap: var(--ossfd-repository-list-view-spacing);
      grid-template-columns: 1fr;

      @container repo-container (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
      }

      @container repo-container (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      ossfd-repository-widget {
        display: flex;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }

    .view-more {
      margin-top: var(--ossfd-repository-list-view-spacing);
    }
  }
}