<div class="panel repositories">
  @if (selectedAccount(); as account) {
    <div class="header">
      <div>
        <ossfd-input
            [(value)]="searchString"
            icon="search"
            placeholder="type to filter repositories"></ossfd-input>
      </div>
      <div>
        <ossfd-link-button
            [icon]="getIcon('sort')"
            [label]="getSortLabel()"
            (click)="onToggleSortMode()"></ossfd-link-button>
        <ossfd-multi-toggle-button
            [items]="[{
                id: LayoutVisibility.HIDE_NO_SCORECARD_REPOS,
                name: 'Hide Repositories Missing Scorecards',
                icon: 'score',
                active: hideNoScorecardRepos()
              },
              {
                id: LayoutVisibility.HIDE_ARCHIVED_REPOS,
                name: 'Hide Locked/Read-Only Repositories',
                icon: 'locked',
                active: hideArchivedRepos()
              }]"
            (itemChange)="onVisibleItemsChanged($event)"
        ></ossfd-multi-toggle-button>
        <ossfd-link-button
            [icon]="getIcon('layout')"
            (click)="onToggleLayout()"></ossfd-link-button>
      </div>
    </div>

    @if (!repositories().completed) {
      <div class="container">
        <ossfd-loading [percentage]="loadingPercentage()"></ossfd-loading>
      </div>
    } @else {
      @if (getVisibleRepositories().length > 0) {
        <div class="container">
          <div
              [class.list]="layoutView() == LayoutView.LIST"
              [class.grid]="layoutView() == LayoutView.GRID">
            @for (repository of getVisibleRepositories(); track repository.url) {
              <ossfd-repository-widget
                  [layout]="layoutView()"
                  [account]="account"
                  [repository]="repository"></ossfd-repository-widget>
            }
          </div>
          @if (getVisibleRepositories().length < filteredRepositoriesCount) {
            <ossfd-link-button
                class="view-more"
                label="View More Repositories"
                icon="arrow-down"
                (click)="onViewMore()"></ossfd-link-button>
          }
        </div>
      } @else {
        <div class="error-message">
          <div>
            <ossfd-icon icon="info"></ossfd-icon>
            <h1>No Repositories Available</h1>
          </div>
        </div>
      }
    }
  }
</div>