<div class="panel overview">
  @if (loadingOrganization() == LoadingState.LOAD_SUCCESS) {
    @if (organization(); as organization) {
      <div class="header">
        <osf-ring [score]="organization.averageScore" [thickness]="'10px'" fontSize="4rem"></osf-ring>
      </div>
      <div class="details">
        <h1 [innerHTML]="organization.name"></h1>
        <p [innerHTML]="organization.description"></p>

        <div class="stats">
          <div>
            <div>Public Repositories</div>
            <div>
              <span class="number" [innerHTML]="organization.totalRepositories"></span>
            </div>
          </div>
          <div>
            <div>Repositories with Scores</div>
            <div>
              <span class="number" [innerHTML]="organization.repositoriesWithScorecards">12</span>
            </div>
          </div>
          <div>
            <div>Total Followers</div>
            <div>
              <span class="number" [innerHTML]="organization.followers">12</span>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <a [href]="organization.url" target="_blank" rel="noopener">
          <osf-button icon="alt_route">Visit Repository</osf-button>
        </a>
        <osf-button icon="delete">Remove</osf-button>
      </div>
    }
  } @else {
    <osf-loading></osf-loading>
  }
</div>

<div class="panel repositories">
  @if (loadingRepositories() == LoadingState.LOAD_SUCCESS) {
    @if (organization(); as organization) {
      <div class="header">
        <div>
          <osf-search [(value)]="searchString" placeholder="type to filter repositories"></osf-search>
        </div>
        <div>
          <osf-button icon="grid_view">Hello</osf-button>
        </div>
      </div>
      <div class="list">
        @for (repository of repositories(); track repository.url) {
          <osf-repository [organization]="organization" [repository]="repository"></osf-repository>
        }
      </div>
    }
  } @else {
    <osf-loading></osf-loading>
  }
</div>
