<div class="panel overview">
  @if (loadingOrganization() == LoadingState.LOAD_SUCCESS) {
    @if (organization(); as organization) {
      <div class="header">
        @if (scorecardLoadingState() == LoadingState.LOAD_SUCCESS) {
          <osf-ring [score]="averageScorecardScore()"
                    (click)="reloadScorecardResults()"
                    [thickness]="'10px'"
                    title="Click to re-check all scorecard scores"
                    fontSize="4rem"></osf-ring>
        } @else {
          <osf-loading></osf-loading>
        }
      </div>
      <div class="details">
        <h1 [innerHTML]="organization.name"></h1>
        <p [innerHTML]="organization.description"></p>

        <div class="stats">
          <div>
            <div>
              <span class="material-symbols-outlined">public</span>
            </div>
            <div>Public Repositories</div>
            <div>
              <span class="number" [innerHTML]="organization.totalRepositories">-</span>
            </div>
          </div>
          <div>
            <div>
              <span class="material-symbols-outlined">scoreboard</span>
            </div>
            <div>Available Scorecards</div>
            <div>
              <span class="number" [innerHTML]="totalRepositoriesWithScorecards()">-</span>
            </div>
          </div>
          <div>
            <div>
              <span class="material-symbols-outlined">group</span>
            </div>
            <div>Followers</div>
            <div>
              <span class="number" [innerHTML]="organization.followers">-</span>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <a [href]="organization.url" target="_blank" rel="noopener">
          <osf-button icon="alt_route" label="Visit Repository"></osf-button>
        </a>
        <osf-button icon="delete" label="Remove"></osf-button>
      </div>
    }
  } @else {
    <osf-loading></osf-loading>
  }
</div>

<div class="panel repositories">
  @if (loadingRepositories() == LoadingState.LOAD_SUCCESS) {
    @if (organization(); as organization) {
      <div class="header">
        <div>
          <osf-search [(value)]="searchString"
                      (valueChange)="onSearchValueChanged()"
                      placeholder="type to filter repositories"></osf-search>
        </div>
        <div>
          <osf-button icon="arrow_downward" label="Name"></osf-button>
          <osf-button icon="visibility"></osf-button>
          <osf-button icon="grid_view"></osf-button>
        </div>
      </div>
      <div class="container">
        <div class="list">
          @for (repository of repositories(); track repository.url) {
            <osf-repository
                (onReloadScorecard)="onReloadScorecard(repository)"
                [organization]="organization"
                [scorecard]="repository.scorecard"
                [repository]="repository"></osf-repository>
          }
        </div>
      </div>
    }
  } @else {
    <osf-loading></osf-loading>
  }
</div>
