@if (!fatalError()) {
  <div class="panel overview">
    @if (accountLoadState() == LoadingState.LOAD_SUCCESS) {
      @if (selectedAccount(); as account) {
        <div class="header">
          @if (scorecardLoadState() == LoadingState.LOAD_SUCCESS) {
            <osd-score-ring [score]="averageScorecardScore()"
                            (click)="reloadScorecardResults()"
                            [thickness]="'10px'"
                            title="Click to re-check all scorecard scores"
                            fontSize="4rem"></osd-score-ring>
          } @else {
            <osd-loading></osd-loading>
          }
        </div>
        <div class="details">
          <h1 [innerHTML]="account.name"></h1>
          <p [innerHTML]="account.description"></p>

          <div class="stats">
            <div>
              <div>
                <span class="material-symbols-outlined">public</span>
              </div>
              <div>Public Repositories</div>
              <div>
                <span class="number" [innerHTML]="selectedAccountRepositories().length">-</span>
              </div>
            </div>
            <div>
              <div>
                <span class="material-symbols-outlined">scoreboard</span>
              </div>
              <div>Available Scorecards</div>
              <div>
              <span class="number">
                @if (scorecardLoadState() == LoadingState.LOAD_SUCCESS) {
                  {{ totalRepositoriesWithScorecards() }}
                } @else {
                  <osd-loading></osd-loading>
                }
              </span>
              </div>
            </div>
            <div>
              <div>
                <span class="material-symbols-outlined">group</span>
              </div>
              <div>Followers</div>
              <div>
                <span class="number" [innerHTML]="account.followers">-</span>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <a [href]="account.url" target="_blank" rel="noopener">
            <osd-button icon="alt_route" label="Visit Repository"></osd-button>
          </a>
          <osd-button icon="delete" label="Remove" (onClicked)="onDeleteServiceAccount()"></osd-button>
        </div>
      }
    } @else {
      <osd-loading></osd-loading>
    }
  </div>

  <div class="panel repositories">
    @if (repositoryLoadState() == LoadingState.LOAD_SUCCESS) {
      @if (selectedAccount(); as account) {
        <div class="header">
          <div>
            <osd-input
                [(value)]="searchString"
                icon="search"
                placeholder="type to filter repositories"></osd-input>
          </div>
          <div>
            <osd-button
                [icon]="getIcon('sort')"
                [label]="getSortLabel()"
                (onClicked)="onToggleSortMode()"></osd-button>
            <osd-button
                [icon]="getIcon('visibility')"
                (onClicked)="onToggleVisibility()"></osd-button>
            <osd-button
                [icon]="getIcon('layout')"
                (onClicked)="onToggleLayout()"></osd-button>
          </div>
        </div>

        @if (getVisibleRepositories().length > 0) {
          <div class="container">
            <div [ngClass]="{'list': layoutView() == LayoutView.LIST, 'grid': layoutView() == LayoutView.GRID}">
              @for (repository of getVisibleRepositories(); track repository.url) {
                <osd-repository-widget
                    [account]="account"
                    [repository]="repository"></osd-repository-widget>
              }
            </div>
            @if (getVisibleRepositories().length < filteredRepositoriesCount) {
              <osd-button
                  class="view-more"
                  label="View More Repositories"
                  icon="next_plan"
                  (onClicked)="onViewMore()"></osd-button>
            }
          </div>
        } @else {
          <div class="error-message">
            <div>
              <span class="material-symbols-outlined">info</span>
              <h1>No Repositories Available</h1>
            </div>
          </div>
        }
      }
    } @else {
      <osd-loading></osd-loading>
    }
  </div>
} @else {
  <div class="panel error-message">
    <div>
      <span class="material-symbols-outlined">error</span>
      <h1>Could Not Load Account</h1>
      <h2>There was a problem loading the account, please refresh or try another account to continue.</h2>
    </div>
  </div>
}
