:host {
  --osd-loading-max-height: 100px;
  --osd-loading-max-width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    max-width: var(--osd-loading-max-width);
    max-height: var(--osd-loading-max-height);
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
