<div class="panel">
  <header>
    <div class="title">
      <h1>Who to Follow</h1>
      <h2>We've prepared a few ideas of accounts that you can start following on GitHub or GitLab.</h2>
    </div>
    <div>
      <ossfd-link-button
          class="follow"
          icon="add"
          label="Add Account to Follow"
          (click)="onFollowAccount()"></ossfd-link-button>
    </div>
  </header>

  <div class="ideas">
    @for (idea of ideas(); track idea.name) {
      <a class="idea" [routerLink]="idea.url">
        <div class="left">
          <div class="avatar" [style.background-image]="'url(' + idea.avatar + ')'"></div>
        </div>
        <div class="right">
          <h1>{{ idea.name }}</h1>
          <p>{{ idea.description }}</p>
        </div>
      </a>
    }
  </div>
</div>
