:host {
  display: flex;
  background-color: white;
  border: rgba(0, 0, 0, .2) 1px solid;
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  overflow: hidden;

  .details {
    padding: 1.5rem 2rem;
    flex: 1;
  }

  .score {
    background-color: rgba(0, 0, 0, .08);
    padding: 1rem;
    display: flex;
    align-items: center;

    osf-ring {
      width: 60px;
      height: 60px;
    }
  }

  h1 {
    font-size: 1.1rem;
  }
}