<osd-link-button
    icon="settings"
    (click)="onButtonClicked($event)"
    [active]="optionsVisible()"></osd-link-button>

@if (optionsVisible()) {
  <div class="container">
    <div class="options">
      @for (option of items(); track option.name) {
        <div (click)="onOptionToggled($event, option)">
          <div class="icon">
            <osd-icon [icon]="option.icon"></osd-icon>
          </div>
          <div class="name" [innerHTML]="option.name"></div>
          <div class="state">
            @if (option.active) {
              <osd-icon icon="checked"></osd-icon>
            } @else {
              <osd-icon icon="unchecked"></osd-icon>
            }
          </div>
        </div>
      }
    </div>
  </div>
}
