:host {
  display: flex;
  height: 100%;
}

nav {
  width: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;

  .logo {
    padding: 2rem 0;
  }

  .orgs {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    > div {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      overflow: hidden;
      padding: .5rem;
      opacity: .7;
      transition: var(--default-transition);

      > div {
        background-color: rgba(0, 0, 0, .2);
        height: 100%;
        width: 100%;
        border-radius: 100%;
      }

      &.selected {
        border: purple 3px solid;
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .settings {
    padding: 1rem;
  }
}

main {
  flex: 1;
  padding: 1rem 1rem 1rem 0;
}
