:host {
  display: flex;
  height: 100%;
}

nav {
  width: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 0;

  .logo {
    padding: 1rem 0;

    img {
      width: 100%;
      max-width: 70px;
    }
  }

  .orgs {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 3rem;

    .item {
      width: 65px;
      height: 65px;
      border-radius: 100%;
      overflow: hidden;
      padding: .3rem;
      opacity: .8;
      transition: var(--default-transition);
      cursor: pointer;

      > div {
        background-color: rgba(0, 0, 0, .2);
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background-size: cover
      }

      &.selected {
        border: var(--hint-color) 2px solid;
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }

    .add {
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, .2);
        border: rgba(0, 0, 0, .3) 1px solid;
      }

      span {
        font-size: 30px;
        opacity: .6;
      }
    }
  }

  .settings {

    .url {
      background-color: rgba(0, 0, 0, .05);
      border-radius: 6px;
      padding: .5rem;
      font-size: .8rem;
      color: rgba(0, 0, 0, .5);
      cursor: pointer;
    }
  }
}

main {
  flex: 1;
  padding: 1rem 1rem 1rem 0;
}
