@use "../mixins" as *;

// Represents the px value where the layout switches from mobile/tablet mode to desktop
$switch-layout-breakpoint: 1000px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media screen and (min-width: $switch-layout-breakpoint) {
    flex-direction: row;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1rem;
    text-align: center;

    @media screen and (min-width: $switch-layout-breakpoint) {
      flex-direction: column;
      padding: 1rem 0;
      width: 115px;
    }

    .logo {
      background-color: var(--hint-color);
      border-radius: 0 0 6px 6px;
      box-shadow: var(--default-box-shadow);
      cursor: pointer;
      display: flex;
      margin-right: .7rem;
      max-width: 104px;
      padding: 1.2rem 1.4rem;

      @media screen and (min-width: $switch-layout-breakpoint) {
        border-radius: 0 6px 6px 0;
      }

      &:hover {
        opacity: .96;
      }

      img {
        height: auto;
        width: 100%;
      }
    }

    .accounts {
      align-items: center;
      display: flex;
      flex: 1;
      overflow: auto;

      @media screen and (min-width: $switch-layout-breakpoint) {
        display: block;
      }

      .list {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding-top: 0;

        @media screen and (min-width: $switch-layout-breakpoint) {
          flex-direction: column;
          padding-top: 3rem;
        }

        .item {
          border-radius: 100%;
          cursor: pointer;
          flex-shrink: 0;
          height: var(--icon-size);
          opacity: .7;
          overflow: hidden;
          padding: .3rem;
          transition: var(--default-transition);
          width: var(--icon-size);

          > div {
            background-color: rgba(0, 0, 0, .2);
            background-size: cover;
            border-radius: 100%;
            height: 100%;
            width: 100%;
          }

          &.selected {
            border: var(--hint-color) 2px solid;
            opacity: 1;
          }

          &:hover {
            opacity: 1;
          }
        }

        .add {
          @include center;

          align-items: center;
          background-color: transparent;
          border: var(--default-border);
          box-shadow: var(--default-box-shadow);
          transition: var(--default-transition);

          ossfd-icon {
            height: 34px;
            width: 34px;
          }

          &:hover {
            background-color: var(--ui-primary-color);

            span {
              opacity: 1;
            }
          }
        }
      }
    }

    .settings {
      display: flex;
      flex-direction: row;
      gap: .5rem;
      padding: .5rem 0;

      @media screen and (min-width: $switch-layout-breakpoint) {
        flex-direction: column;
        padding: 0 1rem;
      }

      .dark-mode {
        @include center;

        ossfd-switch {
          height: 25px;

          --ossfd-switch-bg-color: rgba(0, 0, 0, .3);

          width: 55px;
          :host-context(.dark-mode) {
            .dark-mode ossfd-switch {
              --ossfd-switch-bg-color: rgba(255, 255, 255, .2) !important;
            }
          }
        }
      }

      .button {
        @include center;

        border-radius: var(--default-border-radius);
        cursor: pointer;
        padding: 1rem;
        transition: var(--default-transition);

        &:hover {
          background-color: rgba(0, 0, 0, .1);
        }

        ossfd-icon {
          height: 34px;
          width: 34px;
        }
      }
    }
  }

  main {
    container: main / inline-size;
    flex: 1;
    height: 0; // important, flex will overflow is this isn't present
    padding: 1rem;

    @media screen and (min-width: $switch-layout-breakpoint) {
      height: auto;
      padding-left: 0;
    }
  }
}
