@if (fatalError(); as fatalError) {
  <!-- Shown when there is a fatal error -->
  <div class="panel error-message">
    <div>
      <osd-icon icon="error"></osd-icon>
      <h1 [innerHTML]="fatalError.title"></h1>
      <h2 [innerHTML]="fatalError.message"></h2>
    </div>
  </div>
} @else {
  <!-- Account Overview Panel -->
  <div class="account-panel-container">
    <div class="panel">
      @if (accountLoadState() == LoadingState.LOAD_SUCCESS) {
        @if (selectedAccount(); as account) {
          <div class="overview">
            <div class="score">
              @if (scorecardLoadState() == LoadingState.LOAD_SUCCESS) {
                <osd-score-ring
                    [score]="averageScorecardScore()"
                    (click)="reloadScorecardResults(account)"
                    title="Click to re-check all scorecard scores"></osd-score-ring>
              } @else {
                <osd-loading></osd-loading>
              }
            </div>

            <div class="title">
              <h1 [innerHTML]="account.name"></h1>
              <h2 [innerHTML]="account.description"></h2>
            </div>
          </div>

          <div class="details">
            <div class="detail">
              <div>
                <osd-icon icon="public"></osd-icon>
                <h1>Public Repositories</h1>
              </div>
              <span class="number" [innerHTML]="totalRepositories()">-</span>
            </div>

            <div class="detail">
              <div>
                <osd-icon icon="score"></osd-icon>
                <h1>Available Scorecards</h1>
              </div>
              <span class="number">
            @if (scorecardLoadState() == LoadingState.LOAD_SUCCESS) {
              {{ totalRepositoriesWithScorecards() }}
            } @else {
              <osd-loading></osd-loading>
            }
          </span>
            </div>

            <div class="detail">
              <div>
                <osd-icon icon="followers"></osd-icon>
                <h1>Followers</h1>
              </div>
              <span class="number" [innerHTML]="account.followers">-</span>
            </div>
          </div>

          <div class="actions">
            <osd-link-button
                icon="link"
                label="Visit Repository"></osd-link-button>
            <osd-link-button
                icon="sync"
                label="Fetch Repos"
                (click)="onFetchRepositories(account)"></osd-link-button>
            <osd-link-button
                icon="delete"
                label="Remove"
                (click)="onDeleteServiceAccount(account)"></osd-link-button>
          </div>
        }
      } @else {
        <osd-loading></osd-loading>
      }
    </div>
  </div>

  <!-- Router Outlet Target -->
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
}
