:host {
  --ossfd-loading-max-height: 100px;
  --ossfd-loading-max-width: 100px;

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  img {
    animation: spin 1s linear infinite;
    height: 100%;
    max-height: var(--ossfd-loading-max-height);
    max-width: var(--ossfd-loading-max-width);
    width: 100%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
