@use "../../../../mixins" as *;

:host {
  --ossfd-loading-size: 100px;

  @include center;

  height: 100%;
  width: 100%;

  .indicator {
    @include center;

    height: var(--ossfd-loading-size);
    position: relative;
    width: var(--ossfd-loading-size);

    img {
      animation: spin 1s linear infinite;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .progress {
      color: var(--text-color);
      opacity: .7;
      position: absolute;
      z-index: 2;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
