:host {
  --ossfd-input-bg-color-focused: var(--ossfd-component-bg-color-focused);
  --ossfd-input-border: var(--default-border);
  --ossfd-input-shadow-focused: var(--ossfd-component-shadow-focused);
  --ossfd-input-shadow-unfocused: var(--ossfd-component-shadow-unfocused);
  --ossfd-input-transition: var(--default-transition);

  align-items: center;
  background-color: var(--ossfd-input-bg-color-focused);
  border: var(--ossfd-input-border);
  border-radius: 6px;
  box-shadow: var(--ossfd-input-shadow-unfocused);
  display: flex;
  gap: .5rem;
  opacity: .7;
  transition: var(--ossfd-input-transition);

  &:hover {
    background-color: var(--ossfd-input-bg-color-focused);
    box-shadow: var(--ossfd-input-shadow-focused);
    opacity: 1;
  }

  > * {
    padding: 1rem;

  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem .5rem;
    width: 100%;
  }

  .icon {
    align-items: center;
    background-color: var(--ossfd-input-bg-color-focused);
    border-right: var(--ossfd-input-border);
    cursor: default;
    display: flex;
    height: 100%;
    user-select: none;

    ossfd-icon {
      height: 26px;
      width: 26px;
    }
  }
}