@use "../../../../mixins" as *;

:host {
  display: block;
  --ossfd-link-button-bg-color-focused: var(--ossfd-component-bg-color-focused);
  --ossfd-link-button-bg-color-unfocused: var(--ossfd-component-bg-color-unfocused);
  --ossfd-link-button-box-shadow-focused: var(--ossfd-component-shadow-focused);
  --ossfd-link-button-box-shadow-unfocused: var(--ossfd-component-shadow-unfocused);
  --ossfd-link-button-default-border: var(--default-border);
  --ossfd-link-button-disabled-color: red;
  --ossfd-link-button-transition: var(--default-transition);

  user-select: none;

  > a {
    @include center;

    background-color: var(--ossfd-link-button-bg-color-unfocused);
    border: var(--ossfd-link-button-default-border);
    border-radius: 6px;
    box-shadow: var(--ossfd-link-button-box-shadow-unfocused);
    cursor: pointer;
    gap: .5rem;
    height: 100%;
    opacity: .7;
    padding: 1rem;
    transition: var(--ossfd-link-button-transition);

    &.active,
    &:not(.disabled):hover {
      background-color: var(--ossfd-link-button-bg-color-focused);
      box-shadow: var(--ossfd-link-button-box-shadow-focused);
      opacity: 1;
    }

    &.disabled {
      background-color: var(--ossfd-link-button-bg-color-unfocused);
      cursor: not-allowed;
      opacity: .5;
      pointer-events: none;
    }

    ossfd-icon {
      height: 26px;
      width: 26px;
    }
  }
}