<div class="info">
  <h1>New Account</h1>
  <p>To track the OpenSSF scores of an entire organization or user account, please fill in the forms provided.</p>
  <p>We currently support GitHub with GitLab coming along shortly.</p>
  <p>Optionally, you can provide an API key if you are being rate limited by too many requests.</p>
</div>

<div class="container">
  <div class="tabs">
    <div class="selected">
      <img src="/assets/images/icons/github.png" alt="GitHub" />
    </div>
    <div class="disabled">
      <img src="/assets/images/icons/gitlab.svg" alt="GitLab" />
    </div>
  </div>

  <div class="content">
    @if (selectedService() == 'github') {
      <div>
        <label>GitHub Account</label>
        <osf-search
            [(value)]="accountName"
            icon="badge"
            placeholder="uxlfoundation"></osf-search>
      </div>
      <div>
        <label>API Token <small>(optional)</small></label>
        <div class="details">Adding an API token can allow you to get around rate limiting if you use this tool
          heavily. API keys are stored in your browser's localstorage and <b>ONLY</b> transferred to the URL you
          provided above.</div>
        <osf-search
            icon="key"
            placeholder="A-2XJSJ123JSJS188DNDJK19SK"></osf-search>
      </div>
    }
  </div>

  <div class="actions">
    <div>
      <osf-button
          (onClicked)="onCloseClicked()"
          icon="close"
          label="Cancel"></osf-button>
    </div>
    <div>
      @if (loading()) {
        <osf-loading></osf-loading>
      } @else {
        <osf-button
            icon="add_circle"
            label="Add Account"
            [disabled]="!isServiceFormsValid() || loading()"
            (onClicked)="onAdd()"></osf-button>
      }
    </div>
  </div>
</div>