:host {
  display: flex;
  max-width: 870px;
  width: 100%;
  min-height: 500px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  .info {
    background-color: var(--hint-color);
    color: white;
    backdrop-filter: blur(10px);
    padding: 4rem 3rem;

    @media screen and (min-width: 1000px) {
      width: 340px;
    }

    h1 {
      margin: 0 0 2rem 0;
      font-weight: 500;
    }

    p {
      margin-top: 1rem;
      opacity: .6;
    }
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .tabs {
      display: flex;
      background-color: #efefef;

      > div {
        padding: 2rem;
        opacity: .7;
        cursor: pointer;
        user-select: none;

        img {
          max-width: 70px;
          width: 100%;
        }

        &.selected {
          background-color: white;
          opacity: 1;

          border-top: var(--color-verygood) 6px solid;
        }

        &.disabled {
          pointer-events: none;
          cursor: not-allowed;
          opacity: .6;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: white;
      padding: 3rem;

      label {
        display: block;
        opacity: .7;
        padding: 0 0 .5rem 0;
        font-weight: 500;
      }

      .details {
        font-size: .9rem;
        opacity: .4;
        padding: 0 0 .7rem 0;
      }

      input {
        display: block;
      }
    }

    .actions {
      background-color: #efefef;
      padding: 1rem;
      display: flex;
      gap: .5rem;

      > div {
        flex: 1;
      }

      osf-loading {
        height: 58px;
      }
    }
  }
}
