<osd-link-button
    icon="tune"
    (click)="onButtonClicked($event)"
    [active]="optionsVisible()"></osd-link-button>

@if (optionsVisible()) {
  <div class="container">
    <div class="options">
      @for (option of items(); track option.name) {
        <div (click)="onOptionToggled($event, option)">
          <div class="icon">
            <span class="material-symbols-outlined" [innerHTML]="option.icon"></span>
          </div>
          <div class="name" [innerHTML]="option.name"></div>
          <div class="state">
            @if (option.active) {
              <span class="material-symbols-outlined active">check_circle</span>
            } @else {
              <span class="material-symbols-outlined not-active">do_not_disturb_on</span>
            }
          </div>
        </div>
      }
    </div>
  </div>
}
