:host {
  display: flex;
  background-color: var(--ui-primary-color);
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  overflow: hidden;
  position: relative;

  .notice {
    position: absolute;
    background-color: #666;
    right: 0;
    top: 1rem;
    color: white;
    padding: .4rem;
    font-size: .8rem;
    border-radius: 6px 0 0 6px;

    span {
      font-size: .8rem;
      vertical-align: middle;
    }
  }

  .overview {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: var(--default-transition);

    &:hover {
      background-color: rgba(0, 0, 0, .03);
    }

    .details {
      flex: 1;
      padding: 2rem;

      h1 {
        margin-top: 0;
      }

      p {
        opacity: .6;
        margin-top: 0;
        word-break: break-all;
      }
    }

    .stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: var(--default-border);
      padding: 0 1rem;
      font-size: .9rem;
      opacity: .6;

      > div {
        padding: .8rem 1rem;

        &:nth-of-type(2) {
          padding-left: 1rem;
        }

        span {
          vertical-align: middle;
          font-size: 22px;
        }

        h1 {
          display: inline;
          font-weight: normal;
          font-size: inherit;
          padding-left: .3rem;
        }
      }

      > div:nth-of-type(1) {
        border-right: var(--default-border);
      }
    }
  }

  .score {
    background-color: rgba(0, 0, 0, .08);
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: inset 3px 0 4px -1px rgba(0, 0, 0, .1);
    min-width: 92px;
    cursor: pointer;
    transition: var(--default-transition);

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }

    osd-score-ring,
    osd-loading{
      width: 60px;
      height: 60px;
    }

    span {
      font-size: 60px;
      opacity: .3;
    }
  }

  h1 {
    font-size: 1.1rem;
  }
}