<div class="panel overview">
  @if (loadingServiceAccounts() == LoadingState.LOAD_SUCCESS) {
    @if (serviceAccount(); as organization) {
      <div class="header">
        @if (scorecardLoadingState() == LoadingState.LOAD_SUCCESS) {
          <osf-ring [score]="averageScorecardScore()"
                    (click)="reloadScorecardResults()"
                    [thickness]="'10px'"
                    title="Click to re-check all scorecard scores"
                    fontSize="4rem"></osf-ring>
        } @else {
          <osf-loading></osf-loading>
        }
      </div>
      <div class="details">
        <h1 [innerHTML]="organization.name"></h1>
        <p [innerHTML]="organization.description"></p>

        <div class="stats">
          <div>
            <div>
              <span class="material-symbols-outlined">public</span>
            </div>
            <div>Public Repositories</div>
            <div>
              <span class="number" [innerHTML]="organization.totalRepositories">-</span>
            </div>
          </div>
          <div>
            <div>
              <span class="material-symbols-outlined">scoreboard</span>
            </div>
            <div>Available Scorecards</div>
            <div>
              <span class="number" [innerHTML]="totalRepositoriesWithScorecards()">-</span>
            </div>
          </div>
          <div>
            <div>
              <span class="material-symbols-outlined">group</span>
            </div>
            <div>Followers</div>
            <div>
              <span class="number" [innerHTML]="organization.followers">-</span>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <a [href]="organization.url" target="_blank" rel="noopener">
          <osf-button icon="alt_route" label="Visit Repository"></osf-button>
        </a>
        <osf-button icon="delete" label="Remove" (onClicked)="onDeleteServiceAccount()"></osf-button>
      </div>
    }
  } @else {
    <osf-loading></osf-loading>
  }
</div>

<div class="panel repositories">
  @if (loadingServiceAccountRepositories() == LoadingState.LOAD_SUCCESS) {
    @if (serviceAccount(); as organization) {
      <div class="header">
        <div>
          <osf-search
              [(value)]="searchString"
              icon="search"
              placeholder="type to filter repositories"></osf-search>
        </div>
        <div>
          <osf-button
              [icon]="getIcon('sort')"
              [label]="getSortLabel()"
              (onClicked)="onToggleSortMode()"></osf-button>
          <osf-button
              [icon]="getIcon('visibility')"
              (onClicked)="onToggleVisibility()"></osf-button>
          <osf-button
              [icon]="getIcon('layout')"
              (onClicked)="onToggleLayout()"></osf-button>
        </div>
      </div>

      @if (getVisibleRepositories().length > 0) {
        <div class="container">
          <div [ngClass]="{'list': layoutView() == LayoutView.LIST, 'grid': layoutView() == LayoutView.GRID}">
            @for (repository of getVisibleRepositories(); track repository.url) {
              <osf-repository
                  (onReloadScorecard)="onReloadScorecard(repository)"
                  [organization]="organization"
                  [scorecard]="repository.scorecard"
                  [repository]="repository"></osf-repository>
            }
          </div>
          @if (getVisibleRepositories().length < filteredRepositoriesCount) {
            <osf-button
                class="view-more"
                label="View More Repositories"
                icon="next_plan"
                (onClicked)="onViewMore()"></osf-button>
          }
        </div>
      } @else {
        <div class="error-message">
          <div>
            <span class="material-symbols-outlined">info</span>
            <h1>No Repositories Available</h1>
          </div>
        </div>
      }
    }
  } @else {
    <osf-loading></osf-loading>
  }
</div>
