<nav>
  <a class="logo" routerLink="/">
    <img ngSrc="./assets/images/logo.svg" alt="OpenSSF Logo" height="539" width="734" />
  </a>

  <div class="accounts">
    <div class="list">
      @for (account of serviceAccounts(); track account.tag) {
        <a [routerLink]="[account.service + '/' + account.tag]"
           routerLinkActive="selected"
           class="item"
           title="View the {{ account.name }} account">
          <div [style.background-image]="'url(' + account.icon + ')'"></div>
        </a>
      }
      <div class="item add" (click)="onAddServiceAccount()">
        <span class="material-symbols-outlined">add_circle</span>
      </div>
    </div>
  </div>

  <div class="settings">
    <div class="button" (click)="onToggleDarkMode()">
      <span class="material-symbols-outlined" [innerHTML]="darkMode() ? 'dark_mode' : 'light_mode'"></span>
    </div>
    <div class="button" title="View the about/help" (click)="onAboutClicked()">
      <span class="material-symbols-outlined">help</span>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
