@use 'fonts';
@import 'themes';

html, body {
  height: 100%;
  color: #111;

  --default-transition: .2s all;
  --default-border-radius: 7px;
  --default-border-radius-large: 10px;

  --inverted-text-color: #fff;

  --ui-primary-color: #fff;
  --ui-secondary-color: #fafafa;
  --ui-tertiary-color: #ebebeb;

  --hint-color: #23064c;
  --color-shocking: #bc2323;
  --color-poor: #ca5f1d;
  --color-good: #bd9c52;
  --color-verygood: #9abd76;
  --color-excellent: #548318;

  --default-mobile-width: 1000px;
  --icon-size: 58px;

  --default-border: var(--border-color) 1px solid;
  --default-box-shadow: 2px 2px 5px 0 var(--box-shadow-color);
  --slight-box-shadow: 2px 2px 3px 0 var(--box-shadow-color);

  @include light-mode
}

.light-mode {
  @include light-mode
}

.dark-mode {
  @include dark-mode
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-mode
  }
}

body {
  background-color: var(--ui-tertiary-color);
  color: var(--text-color);
  font-family: 'Roboto', Arial, serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

input {
  font: inherit;
  color: inherit;
}

.panel {
  background-color: var(--ui-secondary-color);
  border-radius: var(--default-border-radius-large);
  box-shadow: var(--default-box-shadow);
  overflow: hidden;
  padding: 2rem;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: .4;
  height: 100%;

  span {
    font-size: 50px;
  }

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}