@import 'fonts';

html, body {
  height: 100%;
  color: #111;

  --default-transition: .2s all;
  --default-border-radius: 8px;
  --default-border-radius-large: 12px;
  --default-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .1);

  --color-shocking: #c10000;
  --color-poor: #e35600;
  --color-good: #f4c500;
  --color-excellent: #43a300;
}

body {
  background-color: #ebebeb;
  font-family: 'Roboto', Arial, serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

input {
  font: inherit;
  color: inherit;
}

.panel {
  background-color: white;
  border-radius: var(--default-border-radius-large);
  box-shadow: var(--default-box-shadow);
  overflow: hidden;
  padding: 2rem;
}