@use 'fonts' as *;
@use 'themes' as *;
@use 'mixins' as *;

html, body {
  --default-border: var(--border-color) 1px solid;
  --default-border-radius: 7px;

  --default-border-radius-large: 10px;
  --default-box-shadow: 2px 2px 5px 0 var(--box-shadow-color);
  --slight-box-shadow: 2px 2px 3px 0 var(--box-shadow-color);

  --hint-color: #23064c;
  --color-excellent: #548318;
  --color-good: #bd9c52;
  --color-poor: #ca5f1d;
  --color-shocking: #bc2323;

  --default-mobile-width: 1000px;
  --ui-primary-color: #fff;
  --ui-secondary-color: #fafafa;
  --icon-size: 58px;
  --ui-tertiary-color: #ebebeb;
  --inverted-text-color: #fff;
  --default-transition: .2s all;
  --color-verygood: #9abd76;

  color: #111;
  height: 100%;

  @include light-mode
}

.light-mode {
  @include light-mode
}

.dark-mode {
  @include dark-mode
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-mode
  }
}

body {
  background-color: var(--ui-quaternary-color);
  color: var(--text-color);
  font-family: 'Roboto', Arial, serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  color: inherit;
  font: inherit;
}

.panel {
  background-color: var(--ui-secondary-color);
  border-radius: var(--default-border-radius-large);
  box-shadow: var(--default-box-shadow);
  overflow: hidden;
  padding: 2rem;
}

.error-message {
  @include center;

  height: 100%;
  opacity: .4;
  text-align: center;

  ossfd-icon {
    display: inline-block;
    height: 60px;
    width: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}
