:host {
  display: flex;
  width: 800px;
  min-height: 500px;

  .info {
    background-color: var(--hint-color);
    color: white;
    backdrop-filter: blur(10px);
    width: 320px;
    padding: 4rem 3rem;

    h1 {
      margin: 0 0 2rem 0;
    }

    p {
      margin-top: 1rem;
      opacity: .6;
    }
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      background-color: white;
      padding: 4rem 2rem 2rem 2rem;

      .services {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: .5rem;

        > div {
          flex: 1;
          border: var(--default-border);
          border-radius: var(--default-border-radius);
          box-shadow: var(--default-box-shadow);
          padding: 3rem 2rem;
          text-align: center;
          opacity: .5;
          cursor: pointer;

          &:hover,
          &.selected {
            opacity: 1;
          }

          &.selected {
            border-top: var(--color-verygood) 6px solid;
          }
          
          &.disabled {
            user-select: none;
            pointer-events: none;
            opacity: .4;
            cursor: not-allowed;
          }

          img {
            max-width: 90px;
          }

          h1 {
            margin: 1rem 0 0 0;
            font-size: 1rem;
          }
        }
      }

      label {
        display: block;
        opacity: .5;
        margin: 1rem 0 .5rem 0;
      }

      input {
        display: block;
      }

      osf-button {
        margin-top: 1rem;
      }
    }

    .actions {
      background-color: #efefef;
      padding: 1rem;
    }
  }
}