<div class="info">
  <h1>Add API Token</h1>
  <p>Adding an API token will allow you to make more requests to the repository backends, avoiding rate limits.</p>
  <p>Your token will be stored in your browsers localstorage and will only be sent to the requested repository
  backend.</p>
</div>

<div class="container">
  <div class="content">
    <div class="services">
      <div class="selected" (click)="onSelectService('github')">
        <img src="/assets/images/icons/github.png" />
        <h1>GitHub.com</h1>
      </div>
      <div class="disabled">
        <img src="/assets/images/icons/gitlab.svg" />
        <h1>GitLab.com</h1>
      </div>
    </div>

    <label>API Token</label>
    <osf-search
        [(value)]="apiToken"
        icon="key"
        placeholder="A-2XJSJ123JSJS188DNDJK19SK"></osf-search>
  </div>

  <div class="actions">
    <osf-button
        icon="save"
        label="Save API Token"
        [disabled]="this.apiToken().length == 0"
        (onClicked)="onSaveToken()"></osf-button>
  </div>
</div>