<div class="header">
  <osd-icon icon="books"></osd-icon>
  <h1>About</h1>
</div>

<div class="body">
  <p>This tool was created by
    <a href="https://github.com/scottstraughan" target="_blank" rel="noopener">scottstraughan</a>, a software
    engineer currently working at <a href="https://codeplay.com" target="_blank" rel="noopener">Codeplay
      Software Ltd</a>.</p>
  <p>The tool makes use of the excellent service provided by the OpenSSF foundation as well as a number of APIs
  to repository services such as GitHub and GitLab.</p>
  <p>Icons used and based on <a href="https://glyphs.fyi/" target="_blank" rel="noopener">https://glyphs.fyi/</a>.</p>
</div>

<div class="actions">
  <osd-link-button label="Close" icon="close" (click)="onClose()"></osd-link-button>
</div>
