:host {
  --osd-score-ring-width: 75px;
  --osd-score-ring-height: 75px;

  --osd-score-ring-cursor: var(--cursor);
  --osd-score-ring-progress: var(--progress);
  --osd-score-ring-thickness: 6cqw;
  --osd-score-ring-progress-color: var(--hint-color);
  --osd-score-ring-base-color: rgba(0, 0, 0, .15);
  --osd-score-ring-background: conic-gradient(grey var(--p, var(--osd-score-ring-progress)), transparent 0%) border-box;

  position: relative;
  display: block;
  width: var(--osd-score-ring-width);
  height: var(--osd-score-ring-height);
  container: score-container / inline-size;
  cursor: var(--osd-score-ring-cursor);
  user-select: none;

  .base,
  .progress,
  .contents {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .base,
  .progress {
    border: solid var(--osd-score-ring-thickness) var(--osd-score-ring-base-color);
    aspect-ratio: 1;
    border-radius: 50%;
    -webkit-mask: var(--osd-score-ring-background);
    mask: var(--osd-score-ring-background);
  }

  .base {
    mask: none;
  }

  .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    > * {
      position: absolute;
      font-size: 40cqw;
    }

    osd-icon {
      width: 40cqw;
      height: 40cqw;
    }
  }
}
